In [1]:
import pandas as pd
import os
import yfinance as yf

In [2]:
may_df = pd.read_csv('all.csv')
sept_df = pd.read_csv('all_sep7.csv')

In [3]:
sept_df = sept_df[['symbol', 'previousClose']]

In [6]:
sept_df = sept_df.rename(columns = {'previousClose' : 'septClose'})

In [9]:
combined_df = pd.merge(may_df, sept_df, on="symbol", how="left")

In [15]:
# Remove 'symbol' and temporarily store it
symbol_col = combined_df.pop('symbol')

# Insert it back at index 0
combined_df.insert(0, 'symbol', symbol_col)
combined_df

,symbol,averageAnalystRating,previousClose,trailingPE,forwardPE,trailingEps,forwardEps,profitMargins,revenuePerShare,fiftyTwoWeekHighChangePercent,fiftyTwoWeekLowChangePercent,quickRatio,currentRatio,debtToEquity,septClose
0,EQIX,1.5 - Buy,861.9700,91.712036,65.459640,9.55,13.38,0.10492,91.869,-0.118890,0.280220,1.248,1.437,141.235,767.9300
1,PABU,0,60.3300,30.233545,0.000000,0.00,0.00,0.00000,0.000,-0.094337,0.166867,0.000,0.000,0.000,69.4600
2,WAFD,0,28.6000,10.850746,8.478134,2.68,3.43,0.31408,8.984,-0.247022,0.224421,0.000,0.000,0.000,31.9500
3,EPRX,0,3.9800,0.000000,-6.323718,-0.76,0.00,0.00000,0.000,-0.106027,0.820455,10.740,11.096,0.226,5.3200
4,SIBN,0,13.6800,0.000000,-18.653334,-0.75,-0.75,-0.18491,4.032,-0.269833,0.195726,6.553,7.658,22.450,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4850,CLRB,0,0.2642,0.000000,-0.095654,-1.40,-2.83,0.00000,0.000,-0.922435,0.230455,2.481,2.583,3.151,4.9800
4851,CRMT,2.8 - Hold,47.8400,47.722775,16.013288,1.01,3.01,0.00560,189.108,-0.332964,0.324176,16.280,20.483,154.737,36.5100
4852,OABIW,0,0.3015,0.000000,0.000000,0.00,0.00,-2.35054,0.258,0.000000,0.000000,4.289,4.516,8.054,0.2052
4853,XOS,0,3.9400,0.000000,-1.087193,-6.69,-3.67,-0.89632,7.461,-0.567245,0.461538,0.862,1.764,127.959,2.3000
4854,KLTO,0,0.1840,0.000000,0.000000,-0.32,0.00,0.00000,0.000,-0.984181,0.533333,0.051,0.126,20.311,0.4950

In [17]:
combined_df['difference'] = combined_df['septClose'] - combined_df['previousClose']
combined_df

,symbol,averageAnalystRating,previousClose,trailingPE,forwardPE,trailingEps,forwardEps,profitMargins,revenuePerShare,fiftyTwoWeekHighChangePercent,fiftyTwoWeekLowChangePercent,quickRatio,currentRatio,debtToEquity,septClose,difference
0,EQIX,1.5 - Buy,861.9700,91.712036,65.459640,9.55,13.38,0.10492,91.869,-0.118890,0.280220,1.248,1.437,141.235,767.9300,-94.0400
1,PABU,0,60.3300,30.233545,0.000000,0.00,0.00,0.00000,0.000,-0.094337,0.166867,0.000,0.000,0.000,69.4600,9.1300
2,WAFD,0,28.6000,10.850746,8.478134,2.68,3.43,0.31408,8.984,-0.247022,0.224421,0.000,0.000,0.000,31.9500,3.3500
3,EPRX,0,3.9800,0.000000,-6.323718,-0.76,0.00,0.00000,0.000,-0.106027,0.820455,10.740,11.096,0.226,5.3200,1.3400
4,SIBN,0,13.6800,0.000000,-18.653334,-0.75,-0.75,-0.18491,4.032,-0.269833,0.195726,6.553,7.658,22.450,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4850,CLRB,0,0.2642,0.000000,-0.095654,-1.40,-2.83,0.00000,0.000,-0.922435,0.230455,2.481,2.583,3.151,4.9800,4.7158
4851,CRMT,2.8 - Hold,47.8400,47.722775,16.013288,1.01,3.01,0.00560,189.108,-0.332964,0.324176,16.280,20.483,154.737,36.5100,-11.3300
4852,OABIW,0,0.3015,0.000000,0.000000,0.00,0.00,-2.35054,0.258,0.000000,0.000000,4.289,4.516,8.054,0.2052,-0.0963
4853,XOS,0,3.9400,0.000000,-1.087193,-6.69,-3.67,-0.89632,7.461,-0.567245,0.461538,0.862,1.764,127.959,2.3000,-1.6400
4854,KLTO,0,0.1840,0.000000,0.000000,-0.32,0.00,0.00000,0.000,-0.984181,0.533333,0.051,0.126,20.311,0.4950,0.3110

In [19]:
combined_df['percent_diff'] = combined_df['difference'] / combined_df['previousClose']

In [7]:
combined_df['previousClose'] = combined_df['previousClose'].astype(float)

In [20]:
combined_df[['previousClose', 'trailingPE', 'forwardPE', 'trailingEps', 'forwardEps', 'profitMargins', 'revenuePerShare',\
              'fiftyTwoWeekHighChangePercent', 'fiftyTwoWeekLowChangePercent',  'quickRatio', 'currentRatio', 'debtToEquity', 'septClose']] = combined_df[['previousClose', 'trailingPE', 'forwardPE', 'trailingEps',\
                                                                                                                                              'forwardEps', 'profitMargins', 'revenuePerShare',\
              'fiftyTwoWeekHighChangePercent', 'fiftyTwoWeekLowChangePercent',  'quickRatio', 'currentRatio', 'debtToEquity', 'septClose']].astype(float)

In [13]:
combined_df = combined_df.drop(columns = ['Unnamed: 0', 'Unnamed: 0.1'])

In [22]:
combined_df.to_csv('evaluate3mo.csv')

In [63]:
may_df = pd.read_csv('all.csv')
may_df = may_df.drop(columns = ['Unnamed: 0', 'Unnamed: 0.1'])

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [12]:
may_df  = may_df[['symbol', 'averageAnalystRating', 'previousClose']]

In [13]:
may_df

     symbol averageAnalystRating  previousClose
0      EQIX            1.5 - Buy       861.9700
1      PABU                    0        60.3300
2      WAFD                    0        28.6000
3      EPRX                    0         3.9800
4      SIBN                    0        13.6800
...     ...                  ...            ...
4831   CLRB                    0         0.2642
4832   CRMT           2.8 - Hold        47.8400
4833  OABIW                    0         0.3015
4834    XOS                    0         3.9400
4835   KLTO                    0         0.1840

[4836 rows x 3 columns]

In [14]:
sept_df = combined_df[['symbol', 'previousClose']]

In [16]:
sept_df = sept_df.rename(columns={"previousClose": "CloseSept"})
sept_df

     symbol  CloseSept
0     LBRDP    24.9000
1      PRPL     1.1000
2      LOGO    21.2200
3      DVSP    24.5601
4      CCEC    21.1000
...     ...        ...
5067   GANX     1.7400
5068    GTX    13.1800
5069   IINN     1.1300
5070   ALMS     4.6000
5071    CHA    17.8400

[5072 rows x 2 columns]

In [17]:
compare_df = pd.merge(may_df, sept_df, on="symbol", how="left")

In [18]:
compare_df

     symbol averageAnalystRating  previousClose  CloseSept
0      EQIX            1.5 - Buy       861.9700   767.9300
1      PABU                    0        60.3300    69.4600
2      WAFD                    0        28.6000    31.9500
3      EPRX                    0         3.9800     5.3200
4      SIBN                    0        13.6800        NaN
...     ...                  ...            ...        ...
4850   CLRB                    0         0.2642     4.9800
4851   CRMT           2.8 - Hold        47.8400    36.5100
4852  OABIW                    0         0.3015     0.2052
4853    XOS                    0         3.9400     2.3000
4854   KLTO                    0         0.1840     0.4950

[4855 rows x 4 columns]

In [19]:
compare_df['difference'] = compare_df['CloseSept'] - compare_df['previousClose']
compare_df

     symbol averageAnalystRating  previousClose  CloseSept  difference
0      EQIX            1.5 - Buy       861.9700   767.9300    -94.0400
1      PABU                    0        60.3300    69.4600      9.1300
2      WAFD                    0        28.6000    31.9500      3.3500
3      EPRX                    0         3.9800     5.3200      1.3400
4      SIBN                    0        13.6800        NaN         NaN
...     ...                  ...            ...        ...         ...
4850   CLRB                    0         0.2642     4.9800      4.7158
4851   CRMT           2.8 - Hold        47.8400    36.5100    -11.3300
4852  OABIW                    0         0.3015     0.2052     -0.0963
4853    XOS                    0         3.9400     2.3000     -1.6400
4854   KLTO                    0         0.1840     0.4950      0.3110

[4855 rows x 5 columns]

In [20]:
pd.set_option("display.max_rows", None)

In [27]:
analyst_ratings = analyst_ratings.dropna()

In [28]:
analyst_ratings['percent_diff'] = analyst_ratings['difference'] / analyst_ratings['previousClose']

In [34]:
values = analyst_ratings['averageAnalystRating'].unique().tolist()

In [35]:
values_sorted = sorted(values, key=lambda x: float(x.split(" - ")[0]))

In [36]:
values_sorted

['0.0 - Strong Buy',
 '1.0 - Strong Buy',
 '1.1 - Strong Buy',
 '1.2 - Strong Buy',
 '1.3 - Strong Buy',
 '1.4 - Strong Buy',
 '1.5 - Buy',
 '1.5 - Strong Buy',
 '1.6 - Buy',
 '1.7 - Buy',
 '1.8 - Buy',
 '1.9 - Buy',
 '2.0 - Buy',
 '2.1 - Buy',
 '2.2 - Buy',
 '2.3 - Buy',
 '2.4 - Buy',
 '2.5 - Buy',
 '2.5 - Hold',
 '2.6 - Hold',
 '2.7 - Hold',
 '2.8 - Hold',
 '2.9 - Hold',
 '3.0 - Hold',
 '3.1 - Hold',
 '3.2 - Hold',
 '3.3 - Hold',
 '3.4 - Hold',
 '3.5 - Hold',
 '3.6 - Underperform',
 '3.7 - Underperform',
 '3.8 - Underperform',
 '4.0 - Underperform',
 '4.7 - Sell',
 '5.0 - Sell']

In [39]:
analyst_ratings[
    (analyst_ratings['averageAnalystRating'] == '5.0 - Sell') |
    (analyst_ratings['averageAnalystRating'] == '4.7 - Sell')
]

,symbol,averageAnalystRating,previousClose,CloseSept,difference,percent_diff
2732,PSEC,5.0 - Sell,3.54,2.88,-0.66,-0.186441
3301,MGEE,4.7 - Sell,90.34,85.23,-5.11,-0.056564

In [59]:
# List of allowed values
allowed_values = [
'3.0 - Hold',
 '3.1 - Hold',
 '3.2 - Hold',
 '3.3 - Hold',
 '3.4 - Hold',
 '3.5 - Hold',
 '3.6 - Underperform',
 '3.7 - Underperform',
]

# Filter rows
filtered = analyst_ratings[
    analyst_ratings['averageAnalystRating'].isin(allowed_values)
]

In [60]:
filtered.head()

,symbol,averageAnalystRating,previousClose,CloseSept,difference,percent_diff
36,EPIX,3.0 - Hold,1.77,0.2316,-1.5384,-0.869153
49,ATER,3.0 - Hold,1.95,0.9522,-0.9978,-0.511692
119,NECB,3.0 - Hold,22.85,22.5300,-0.3200,-0.014004
148,DGICA,3.0 - Hold,19.36,19.4700,0.1100,0.005682
193,PAMT,3.0 - Hold,13.91,12.0000,-1.9100,-0.137311

In [61]:
positive_pct = (filtered['percent_diff'] > 0).mean() * 100
negative_pct = (filtered['percent_diff'] < 0).mean() * 100

print(f"Positive: {positive_pct:.2f}%")
print(f"Negative: {negative_pct:.2f}%")

Positive: 75.37%
Negative: 23.88%

In [62]:
# Function to compute % positive and % negative
def pos_neg_percent(s):
    total = len(s)
    pos = (s > 0).sum() / total * 100
    neg = (s < 0).sum() / total * 100
    return pd.Series({'Positive %': pos, 'Negative %': neg})

# Group by ratings
result = analyst_ratings.groupby('averageAnalystRating')['percent_diff'].apply(pos_neg_percent)

print(result)

averageAnalystRating
0.0 - Strong Buy      Positive %     66.666667
                      Negative %     33.333333
1.0 - Strong Buy      Positive %     60.975610
                      Negative %     39.024390
1.1 - Strong Buy      Positive %     75.000000
                      Negative %     25.000000
1.2 - Strong Buy      Positive %     76.315789
                      Negative %     23.684211
1.3 - Strong Buy      Positive %     71.153846
                      Negative %     28.846154
1.4 - Strong Buy      Positive %     74.117647
                      Negative %     25.882353
1.5 - Buy             Positive %     75.000000
                      Negative %     25.000000
1.5 - Strong Buy      Positive %     73.636364
                      Negative %     26.363636
1.6 - Buy             Positive %     75.757576
                      Negative %     24.242424
1.7 - Buy             Positive %     55.421687
                      Negative %     44.578313
1.8 - Buy             Positive %     75.000000
                      Negative %     25.000000
1.9 - Buy             Positive %     65.625000
                      Negative %     34.375000
2.0 - Buy             Positive %     72.891566
                      Negative %     26.506024
2.1 - Buy             Positive %     76.744186
                      Negative %     23.255814
2.2 - Buy             Positive %     79.661017
                      Negative %     18.644068
2.3 - Buy             Positive %     83.132530
                      Negative %     16.867470
2.4 - Buy             Positive %     74.468085
                      Negative %     25.531915
2.5 - Buy             Positive %     87.096774
                      Negative %     12.903226
2.5 - Hold            Positive %     50.000000
                      Negative %     50.000000
2.6 - Hold            Positive %     72.972973
                      Negative %     27.027027
2.7 - Hold            Positive %     82.857143
                      Negative %     17.142857
2.8 - Hold            Positive %     80.769231
                      Negative %     19.230769
2.9 - Hold            Positive %     56.250000
                      Negative %     43.750000
3.0 - Hold            Positive %     75.789474
                      Negative %     23.157895
3.1 - Hold            Positive %    100.000000
                      Negative %      0.000000
3.2 - Hold            Positive %     70.000000
                      Negative %     30.000000
3.3 - Hold            Positive %     50.000000
                      Negative %     50.000000
3.4 - Hold            Positive %     66.666667
                      Negative %     33.333333
3.5 - Hold            Positive %     66.666667
                      Negative %     33.333333
3.6 - Underperform    Positive %    100.000000
                      Negative %      0.000000
3.7 - Underperform    Positive %    100.000000
                      Negative %      0.000000
3.8 - Underperform    Positive %      0.000000
                      Negative %    100.000000
4.0 - Underperform    Positive %    100.000000
                      Negative %      0.000000
4.7 - Sell            Positive %      0.000000
                      Negative %    100.000000
5.0 - Sell            Positive %      0.000000
                      Negative %    100.000000
Name: percent_diff, dtype: float64